
.card {
  display: flex;
  width: 100%;
  min-height: 120%;
  flex-direction: column;
  background: rgba($white, .7);
  padding: 2rem 1rem;
  text-decoration: none;
  color: $black;

  &:hover .card__icon-link {
    transform: translateX(1rem);
    transition: all linear 0.3s;
  }

  &--first {
    border-bottom: 6px solid $light-gray;
  }

  &--second {
    border-bottom: 6px solid $primary;
    cursor: pointer;
  }

  &--third {
    border-bottom: 6px solid $secondary;
    cursor: pointer;
  }

  &__title {
    font-weight: bold;
    font-size: ms(1);
    margin: 0;
    margin-left: 1rem;
    padding: 0;
  }

  &__info {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: $dark-gray;
  }

  &__iconbox {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }

  &__icon {
    font-size: 4rem;
    position: relative;
    color: $secondary;

    &::before {
      z-index: 2;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 5rem;
      height: 5rem;
      background-color: lighten($secondary, 45%);
      opacity: 1;
      left: -20px;
      bottom: -20px;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__icon-link {
    font-size: 2rem;
    color: $secondary;
    margin-left: auto;
    transition: all linear 0.3s;
  }

  &__link {
    text-decoration: none;
    display: flex;
  }
}

