.drx-offer-area {
  background: $primary;
  padding-top: 2rem;
}


.drx-offer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
  max-width: $l;
  margin: 0 auto;
  text-align: center;

  @media(max-width: $m) {
    grid-template-columns: 1fr;
  }

  &__content {
    align-self: center;
  }

  &__title {
    color: $white;
    font-size: ms(6);
    margin: 0;
    padding: 0;

    }

  &__discount {
    color: $primary;
    font-size: ms(3);
    margin: 0;
    padding: 0;
    background: $white;
    text-align: center;
  }

  figure {
    margin: 0;
    padding: 0;
  }
    
    &__img {
      max-width: 100%;
    }

    &__info {
      color: $light-gray;
    }

    &__btnbox {
      display: flex;
      margin-top: 2rem;
      align-items: center;
      justify-content: center;
    }
}