
.intro {
  display: grid;
  max-width: $l;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "doc napr uzi"
  "doc napr analizi";
  background: url('../images/doc-hero.jpg') no-repeat top left;
  background-size: contain;

  @media (max-width: $m) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "napr uzi"
    "napr analizi";
  }

  @media (max-width: $s) {
    background: none;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "uzi"
    "analizi"
    "napr";

  }


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: .5rem;
    }

    a {
      color: $secondary;
    }
  }

  &__image {
    max-width: 100%;

  }



  &__doc {
    grid-area: doc;
  }


  &__napr {
    grid-area: napr;
  }

  &__uzi {
    grid-area: uzi;

  }

  &__analizi {
    grid-area: analizi;
  }


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: .5rem;
    }

    a {
      color: $secondary;
    }
  }
}