

.contact-grid {
  max-width: $l;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;  
  background: $black;
  padding: 2vw;

  @media(max-width: $s) {
    grid-template-columns: 1fr;
  }
}

.contacts {

  background: $black;
  color: $white;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 1rem 0;
    border-bottom: 1px solid $aux;

    &--schedule {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: ms(2);
    margin: 0;
    margin-top: 2rem;
    padding: 0;
  }

  &__icon {
    margin-right: .5rem;
  }
}


.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  min-height: 50vh;
}

.footer {
  background: $light-gray;
  clip-path:  polygon(0 0, 100%  calc(100% - 10vw), 100% 100%, 0 100%);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;

  @media(max-width: $m) {
    background: none;
  }
}


.footer__content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  
}


.soc {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: .5rem;
  display: flex;

  &__link {
    display: flex;
    text-decoration: none;
    background: $light-gray;
    color: $black;
    padding: 1rem;
    margin-right: 1rem;
    // border: 1px solid $secondary;
    border-radius: 100%;
  }
}


.subfooter {
  max-width: $l;
  margin: 0 auto;
  padding: 2rem 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $s) {
      flex-direction: column;
    }
  }

  &__item {
    margin: 0 1rem;
    text-align: center;
  }

  &__link {
    color: $black;
    text-decoration: none;
  }

}