.nav {
  display: flex;
  justify-content: space-between;
  max-width: $l;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}


.contacts-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: ms(1);
  font-weight: bold;

  &__icon {
    color: $primary;
    margin-right: 1rem;
  }

  li:first-child {
    margin-right: 4rem;
  }

  a {
    color: $black;
    text-decoration: none;
  }
}


.logo {
  width: 160px;
  height: auto;
}
