//- table
//-   thead
//-     tr
//-       th Услуга
//-       th Цена
//-   tbody
//-     tr
//-       td(data-label='Услуга') УЗИ молочных желез и подмышечных лимфатических узлов 
//-       td(data-label='Цена') 650 
//-     tr
//-       td(data-label='Услуга') УЗИ слюнных желез и подчелюстных лимфатических узлов 
//-       td(data-label='Цена') 500
//-     tr
//-       td(data-label='Услуга') УЗИ лимфатических узлов
//-       td(data-label='Цена') 400
//-     tr
//-       td(data-label='Услуга') УЗИ желчного пузыря 
//-       td(data-label='Цена') 400

ul.price__list 
  li.price__item УЗИ молочных желез и подмышечных лимфатических узлов 
    span 650        
  li.price__item УЗИ слюнных желез и подчелюстных лимфатических узлов 
    span 500        
  li.price__item УЗИ лимфатических узлов
    span 400        
  li.price__item УЗИ молочных желез и подмышечных лимфатических узлов 
    span 650        
  li.price__item  УЗИ желчного пузыря 
    span 400        
