.card__grid
  a.card__link(href='www.google.com').card--first
    .card
      .card__iconbox
        span.card__icon.icon-health-care
      h3.card__title Записаться к врачу
      p.card__info  Специалисты первой и высшей категорий с огромным клиническим опытом. 
      span.card__icon-link.fas.fa-chevron-circle-right
      
  a.card__link(href='www.google.com').card--second
    .card
      .card__iconbox
        span.card__icon.icon-analizi
      h3.card__title Сдать Анализы
      p.card__info Более 1000 видов анализов. Результаты на следующее утро.
      span.card__icon-link.fas.fa-chevron-circle-right

  a.card__link(href='www.google.com').card--third
    .card
      .card__iconbox
        span.card__icon.icon-uzi
      h3.card__title Сделать УЗИ
      p.card__info УЗИ врослым, детям. УЗИ по гинекологии и беременности всех сроков.
      span.card__icon-link.fas.fa-chevron-circle-right
      
