section.doc-slider__header

  h2 Наши Специалисты

  div.doc-slider__controls
    button
      i.doc-slider__icon.fas.fa-angle-left
    button
      i.doc-slider__icon.fas.fa-angle-right


section.doc-slider 

  .doc-card__wrp
    div.doc-card-sm
      div.doc-card-sm__inner
      div.doc-card-sm__imgbox
        img.doc-card-sm__img(src='../images/mohova.jpg')
        div.doc-card-sm__overlay
        div.doc-card-sm__name
          span.doc-card-sm__like
            span.far.fa-heart.doc-card-sm__heart
            span 102
          h3 Мохова Надежда Константиновна  
      div.doc-card-sm__info
        h3 Гинеколог
        span.doc-card-sm__cat Врач первой категории  
        span.doc-card-sm__icon-link.fas.fa-chevron-circle-right

  .doc-card__wrp
    div.doc-card-sm
      div.doc-card-sm__inner
      div.doc-card-sm__imgbox
        img.doc-card-sm__img(src='../images/mohova.jpg')
        div.doc-card-sm__overlay
        div.doc-card-sm__name
          span.doc-card-sm__like
            span.far.fa-heart.doc-card-sm__heart
            span 102
          h3 Мохова Надежда Константиновна  
      div.doc-card-sm__info
        h3 Гинеколог
        span.doc-card-sm__cat Врач первой категории  
        span.doc-card-sm__icon-link.fas.fa-chevron-circle-right

  .doc-card__wrp
    div.doc-card-sm
      div.doc-card-sm__inner
      div.doc-card-sm__imgbox
        img.doc-card-sm__img(src='../images/mohova.jpg')
        div.doc-card-sm__overlay
        div.doc-card-sm__name
          span.doc-card-sm__like
            span.far.fa-heart.doc-card-sm__heart
            span 102
          h3 Мохова Надежда Константиновна  
      div.doc-card-sm__info
        h3 Гинеколог
        span.doc-card-sm__cat Врач первой категории  
        span.doc-card-sm__icon-link.fas.fa-chevron-circle-right

  .doc-card__wrp
    div.doc-card-sm
      div.doc-card-sm__inner
      div.doc-card-sm__imgbox
        img.doc-card-sm__img(src='../images/mohova.jpg')
        div.doc-card-sm__overlay
        div.doc-card-sm__name
          span.doc-card-sm__like
            span.far.fa-heart.doc-card-sm__heart
            span 102
          h3 Мохова Надежда Константиновна  
      div.doc-card-sm__info
        h3 Гинеколог
        span.doc-card-sm__cat Врач первой категории  
        span.doc-card-sm__icon-link.fas.fa-chevron-circle-right

  .doc-card__wrp
    div.doc-card-sm
      div.doc-card-sm__inner
      div.doc-card-sm__imgbox
        img.doc-card-sm__img(src='../images/mohova.jpg')
        div.doc-card-sm__overlay
        div.doc-card-sm__name
          span.doc-card-sm__like
            span.far.fa-heart.doc-card-sm__heart
            span 102
          h3 Мохова Надежда Константиновна  
      div.doc-card-sm__info
        h3 Гинеколог
        span.doc-card-sm__cat Врач первой категории  
        span.doc-card-sm__icon-link.fas.fa-chevron-circle-right
