.doc-area

  .slider-wrp
    .controls
      .controls__imgbox 
        img(src="../images/kozlova-thumb.jpg" class="controls__img")
        span Белоусова
      .controls__imgbox 
        img(src="../images/lushpanova-thumb.jpg" class="controls__img")
        span Лушпанова   

    .slider
      .slider__slide
        .doc
          .doc__imgbox 
            img(src="../images/kozlova.jpg" class="doc__image")
          .doc__inner
            .doc__header
              .doc__info
                h3.doc__name Белоусова Ольга Николаевна
                span.doc__cat врач-УЗИ высшей категории
              h5.doc__priem Прием от 
                span 300 р.

            .doc__content
              .doc__perk
                span.far.fa-heart
                | 24 отзыва
              .doc__perk
                span.far.fa-heart
                | 15 лет опыта
              .doc__perk
                span.fas.fa-child
                | Принимает детей
            .doc__footer
              ul.doc__appointment
                li.doc__button
                  a(href="#" class="button button--doc")
                    | Записаться на прием
                li.doc__phone                 
                  .doc__phone-number     
                    span.doc__icon.fas.fa-phone-square       
                    a(href='tel: 722257') 72-22-57
    
      .slider__slide
        .doc
          .doc__imgbox 
            img(src="../images/lushpanova.jpg" class="doc__image")
          .doc__inner
            .doc__header
              .doc__info
                h3.doc__name Лушпанова Елена Юрьевна
                span.doc__cat врач-УЗИ первой категории
              h3.doc__priem Прием от 
                span 500 р.

            .doc__content
              .doc__perk
                span.far.fa-heart
                | 24 отзыва
              .doc__perk
                span.far.fa-heart
                | 15 лет опыта
              .doc__perk
                span.fas.fa-child
                | Принимает детей
            .doc__footer
              ul.doc__appointment
                li
                  a(href="#" class="button button--doc")
                    span.contacts-nav__icon.fas.fa-map-marker-alt
                    | Записаться онлайн
                li.doc__phone
                  | Или по телефону:
                  span.doc__icon.fas.fa-phone-square
                  a(href='tel: 722257') 72-22-57

  
    