.doc-area

  .slider-wrp
    .controls
      .controls__imgbox 
        img(src="../images/kozlova-thumb.jpg" class="controls__img")
        span Белоусова
      .controls__imgbox 
        img(src="../images/lushpanova-thumb.jpg" class="controls__img")
        span Лушпанова   

    .slider

      .slider__slide
        .doctor
          .doctor__inner
            .doctor__imgbox.doctor__imgbox--belousova 
            .doctor__overlay
            
            .doctor__maininfo
              h2.doctor__name Белоусова Ольга Николаевна
              span.doctor__cat врач-УЗИ высшей категории


            .doctor__priem
              span  прием от 300р

            .doctor__perks      
              .doctor__perk
                span.doctor__iconbox
                  span.icon-expirience
                span 15 лет опыта
              .doctor__perk
                span.doctor__iconbox
                  span.icon-kids-doctor
                span Принимает детей

            .doctor__appoint
              a(href="#" class="doctor__button") Записаться на прием
              .doctor__phone Записаться по телефону 72-22-57
                  
   
    
      .slider__slide
        .doctor
          .doctor__inner
            .doctor__imgbox.doctor__imgbox--lushpanova 
            .doctor__overlay
    
            .doctor__maininfo
              h2.doctor__name Лушпанова Надежда Викторовна
              span.doctor__cat врач-УЗИ высшей категории


            .doctor__priem
              span  прием от 300р

            .doctor__perks      
              .doctor__perk
                span.doctor__iconbox
                  span.icon-expirience
                span 15 лет опыта
              .doctor__perk
                span.doctor__iconbox
                  span.icon-kids-doctor
                span Принимает детей

            .doctor__appoint
              a(href="#" class="doctor__button") Записаться на прием
              .doctor__phone Записаться по телефону 72-22-57
                  
   
    