section.drx-offer-area
  div.drx-offer
    figure
      img.drx-offer__img(src='../images/spine-drx.png')
    .drx-offer__title
      h1 Ай, больно пиздец!
      p.drx-offer__info Безоперационное лечение межпозвонковой грыжи данным методом позволяет справиться с заболеванием без непосредственного хирургического вмешательства.

    h1.drx-offer__discount Экономия -50% 
    span.drx-offer__red 
    .drx-offer__btnbox
      a(href='#' class="button button--drx") Подробнее


