section.intro
  .intro__doc
    //- img(src="../images/doc-hero.jpg" class="intro__image")

  .intro__napr
    .card--first
      .card
        .card__iconbox
          span.card__icon.icon-health-care
          h3.card__title Записаться на прием
        ul.intro__list
          li
            a(href="#") Гинеколог
          li
            a(href="#") Ревматолог
          li
            a(href="#") Терапевт
          li
            a(href="#") Кардиолог
          li
            a(href="#") Функциональный диагност
          li
            a(href="#") Нейрохирург
          li
            a(href="#") Невролог
          li
            a(href="#") Терапевт
          li
            a(href="#") Кардиолог
          li
            a(href="#") Гастроэнтеролог
          li
            a(href="#") Эндокринолог
          li
            a(href="#") Массажист


  .intro__analizi
    a.card__link(href='www.google.com').card--second
      .card
        .card__iconbox
          span.card__icon.icon-analizi
          h3.card__title Сдать Анализы
        p.card__info Более 1000 видов анализов. Результаты на следующее утро.
        span.card__icon-link.fas.fa-chevron-circle-right
  .intro__uzi
    a.card__link(href='www.google.com').card--third
      .card
        .card__iconbox
          span.card__icon.icon-uzi
          h3.card__title Сделать УЗИ
        p.card__info УЗИ врослым, детям. УЗИ по гинекологии и беременности всех сроков.
        span.card__icon-link.fas.fa-chevron-circle-right


