.footer-grid

  section.footer__content

    section.contact-grid
      section.contacts
        h3.contacts__title Контакты:
        ul.contacts__list
          li.contacts__item
            span.contacts__icon.fas.fa-phone-square 
            |  72-22-57
          li.contacts__item
            span.contacts__icon.fas.fa-map-marker-alt
            |  Интернациональная 27б
          li.contacts__item
            span.contacts__icon.fas.fa-envelope
            |  galium@inbox.ru
   
      section.contacts      
          h3.contacts__title Рабочие часы: 
          li.contacts__item.contacts__item--schedule
            span Пн-Пт
            |  8.00 - 20.00
          li.contacts__item.contacts__item--schedule
            span Суббота
            |  8.00 - 15.00
          li.contacts__item.contacts__item--schedule
            span Воскресенье
            |  выходной      
   

      section.contacts      
        h3.contacts__title «Галиум в соцсетях»
        ul.soc
          li.soc__item
            a(href="#" class="soc__link")
              .soc__icon.fab.fa-vk
          li.soc__item
            a(href="#" class="soc__link")
              .soc__icon.fab.fa-instagram

    .subfooter
      .subfooter__inner 
        span.subfooter__item © 2009-2019 МОЦ «Галиум»           
        span.subfooter__item
          a(href="#" class="subfooter__link") Контролирующие организации и лицензии         
        span.subfooter__item
          a(href="#" class="subfooter__link") Соглашение об обработке персональных данных         

  .footer