.footer-grid

  section.footer__content
    section.map-n-contact-grid
      section.contacts
        h3.contacts__title Контакты:
        ul.contacts__list
          li.contacts__item
            span.contacts__icon.fas.fa-phone-square 
            |  72-22-57
          li.contacts__item
            span.contacts__icon.fas.fa-map-marker-alt
            |  Интернациональная 27б
          li.contacts__item
            span.contacts__icon.fas.fa-envelope
            |  galium@inbox.ru
          h3.contacts__title Рабочие часы: 
          li.contacts__item.contacts__item--schedule
            span Пн-Пт
            |  8.00 - 20.00
          li.contacts__item.contacts__item--schedule
            span Суббота
            |  8.00 - 15.00
          li.contacts__item.contacts__item--schedule
            span Воскресенье
            |  выходной
      section.map            
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3925c26b17a74138c2e82bcba4e9da16ed98ccdd8aae7edcd03de9e364f4c112&width=100%25&height=100%&lang=ru_RU&scroll=false')


  .footer