section.nav
  div.logo
    img(src="./images/logo--dark.svg" class="logo")
  ul.contacts-nav
    li
      span.contacts-nav__icon.fas.fa-map-marker-alt
      | Интернациональная, 27б
    li 
      span.contacts-nav__icon.fas.fa-phone-square
      a(href='tel: 722257') 72-22-57


