    .slider__slide
      .doc
        .doc__imgbox 
          img(src="../images/lushpanova.jpg" class="doc__image")
        .doc__inner
          .doc__header
            .doc__info
              h3.doc__name Лушпанова Лариса Сергеевна
              span.doc__cat врач-УЗИ высшей категории
            .doc__like 
              span.far.fa-heart.doc__heart
              | 24
          .doc__content
            span Прием от 
              strong 300 р.
            span Опыт 
              strong 10 лет
            span
              a(href="#" class="doc__tlink") 23 отзыва
          .doc__footer
            ul.doc__appointment
              li
                a(href="#" class="button button--doc")
                  span.contacts-nav__icon.fas.fa-map-marker-alt
                  | Записаться онлайн
              li.doc__phone
                p Записаться по телефону:
                span.doc__icon.fas.fa-phone-square
                a(href='tel: 722257') 72-22-57
  