extends ./layouts/default

block title
  title Галиум

block header
  include ./partials/nav
  include ./partials/hero  

block content
  include ./partials/drx-offer

  section.doc-slider-wrp
    include ./partials/doc-card-sm

  include ./partials/dms
  include ./partials/map-n-contact
