.button {
  padding: 1rem 2rem;
  background: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: $white;
  text-decoration: none;  
  align-self: flex-start;
}


.button--drx {
  @extend .button;
  background: transparent;
  border: 5px solid $white;
  text-transform: uppercase;
  font-weight: bold;
}

.button--doc {
  @extend .button;
  color: $primary;
  background: transparent;
  border: 4px solid $primary;
  text-transform: uppercase;
  font-weight: bold;
}