.button {
  padding: 1.2rem 2.4rem;
  background: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: $white;
  text-decoration: none;  
  align-self: flex-start;
}


 